BasedOnStyle: LLVM

IndentWidth: 4
UseTab: Never

BreakBeforeBraces: Attach

BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  AfterClass: false
  AfterNamespace: false
  BeforeElse: false
  BeforeCatch: false

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false