BasedOnStyle: LLVM

# --- ESPACIADO ---
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

# --- WHILE(); en una sola línea ---
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true

# --- LLAVES estilo que te gusta ---
BreakBeforeBraces: Allman

# --- INDENTACIÓN ---
IndentWidth: 4
UseTab: Never

# --- CONTROL DE ESPACIOS ---
SpacesInConditionalStatement: false
SpaceAfterCStyleCast: false

# --- OTROS AJUSTES LIMPIOS ---
ColumnLimit: 0

AlignConsecutiveMacros: true